{% if mode =='index' %}
<div class="newQuestionBtn tdcButton">Ask Question</div>
{% endif %}

<div class="popularTags">Popular Tags</div>

{% for item in tags %}
<div class='tags'>
    <span class="tag">
        <a href="{{path("tdc_qa_tagged",{"tag":item.value})}}">{{ item.value }}</a>
    </span> 
    x {{item.tag_count}} 
</div>
{% endfor %}

{% block javascripts %}
    <script >
    $(".newQuestionBtn").mousedown(function(){
        $(this).addClass("tdcButtonDown");
    });
    $(".newQuestionBtn").mouseup(function(){
        $(this).removeClass("tdcButtonDown");
    });
    $(".newQuestionBtn").click(function(){
       window.location = "{{path("tdc_qa_ask")}}";
    });
   </script>
{% endblock javascripts %}
