# all vim backup files
*~

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css
web/css/*
web/js
web/js/*
# Configuration files
app/config/parameters.ini
