<div class="statsbox">
<li><span>Users: </span><span>{{stats.userCount}}</span></li>
<li><span>Subscribers: </span><span>{{stats.subsCount}}</span></li>
<li><span>Questions: </span><span>{{stats.questionCount}}</span></li>
<li><span>Answers: </span><span>{{stats.answerCount}}</span></li>
<li><span>Hours of Video: </span><span>222</span></li>
</div>
