<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
        {% block title %}
            TDC:
            {% block titleName %}{% endblock titleName %}
        {% endblock title %}
        </title>

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
        {% block stylesheets %}
            {% stylesheets  
             debug=false
            'public/css/jquery.jscrollpane.css'
            'public/css/TDC1/main.css' 
            'public/css/TDC1/player.css' 
            filter='cssrewrite'
            output='css/*.css'
            %}
            <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
            {% endstylesheets %}
        {% endblock %}


        {% block header_javascripts %}
            {% javascripts
                debug=true
                'public/js/jquery/jquery-1.7.min.js'
                'public/js/jquery/jquery-ui-1.8.16.custom.min.js'
                'public/js/jquery/jquery.mousewheel.js'
                'public/js/jquery/jquery.jscrollpane.min.js'
                'public/js/tdc/tdc.js'
                'public/js/tdc/tdc.paginator.js'
                '@tdcPlayerBundle/Resources/public/js/tdc/tdc.scrollbar.js'
                '@tdcPlayerBundle/Resources/public/js/tdc/tdc.player.js'
                '@tdcPlayerBundle/Resources/public/js/tdc/tdc.navbar.js'
                '@tdcPlayerBundle/Resources/public/js/tdc/tdc.quickbrowser.js'
            %}
            <script src="{{ asset_url }}" type="text/javascript"  /></script>
            <script type="text/javascript" src="http://static.flowplayer.org/js/flowplayer-3.2.6.min.js"></script>
            {% endjavascripts %}
        {% endblock header_javascripts %}

    </head>
    <body>
        <div id="mainFrame">
            {% block headerBar %}
            {% endblock %}

            <div id="contentFrame">
                {% block contentArea%}{% endblock %}
            </div>

            {% block footerBar %}
            {% endblock %}
        </div>
        <script>
        {% block javascripts %}{% endblock %}
        </script>
    </body>
</html>
