{% extends 'tdcFrontEndBundle:Default:layout.html.twig' %}

{% block titleName %}About{% endblock %}

{% block contentArea %}
<div id="contentHolder" >
    {% block body %}
    <h1>About</h1>
    {% endblock body %}
</div>
{% endblock contentArea %}
