{% extends 'tdcFrontEndBundle:Default:layout.html.twig' %}

{% block title %}About{% endblock %}

{% block contentArea %}
    {% block body %}
    <h1>About</h1>
    {% endblock body %}
{% endblock contentArea %}
