{% extends 'tdcFrontEndBundle:Default:index.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block contentArea %}
    {% block body %}
        <h1>FAQ</h1>
    {% endblock %}
{% endblock contentArea %}
