{% extends 'tdcFrontEndBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  
     debug=true
    'public/css/TDC1/faq.css' 
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block titleName %}FAQ{% endblock %}

{% block contentArea %}
    <h1>FAQ</h1>

    <div id="faqIndex_hldr"> 
        <h3>Topics</h3>
        <li><a id="about" class="faqTopic"/>About TD Channel</a></li>
        <li><a id="videos" class="faqTopic"/>About Videos</a></li>
        <li><a id="payments" class="faqTopic" />About Payments</a></li>
    </div>

    <div id="faqContent_hldr">

        <div id="aboutContent" class="faqbox">
            <li class="question">What is TD Channel?</li>
            <p>TD Channel is an online  learning resource designed to provide high quality educational content with strong enphasis on concepts instead of "recipes".</p>
            
            <li class="question">How does TD Channel work?</li>
            <p>TD Channel is a subscription service. For a very small fee, subscribed users can access the entire TD Channel library, as well as access to our Q&A system.</p>

            <li class="question">Who is responsible for TD Channel?</li>
            <p>TD Channel is owned and operated by Rudy Cortes, a professional TD with over 12 years of professional experience. Throughout these 12 years Rudy has worked on lighting, effects and look development as a production artist. He has also worked on shader, plugin, tools, workflow and pipeline development.</p>

            <li class="question">Is TD Channel in any way associated with TD-College?</li>
            <p>The founder of TD Channel was also one of the founders of TD-College. TD Channel attempts to fill an existing void in available trainig resources. While TD-College had an online school model, TD Channel follows a subscription model, making it more convenient for users throught the world.</p>
        </div>


        <div id="videosContent" class="faqbox">
            <li class="question">How are the videos delivered?</li>
            <p>All TD Channel videos are delivered through on our streamming netwok that is scattered through several locations around the world.</p>

            <li class="question">Can I download the videos?</li>
            <p>The video library is available 24/7/365 and can be viewed as many times as you want. For this reason, and to protect our content from piracy, we do not provide a download option for any of our videos</p>

            <li class="question">Can I purchase any of the videos independently?</li>
            <p>We do not have support for "a la carte" video purchases. Adding such support would create extra overhead and we are trying to keep our costs down to make our service as affordable as possible.</p>

            <li class="question">Are any mobile devices supported?</li>
            <p>At this moment we only support streamming to computers. We do have plans to support the most popular mobile devices in the future, so stay please stay tuned.</p>
        </div>


        <div id="paymentsContent" class="faqbox">
            <li class="question">What are my payment options?</li>
            <p>All TD Channel payments are handled through a <a href="http://paypal.com" target="_blank">Paypal</a> subscription service. We ofer monthly, 3 months, 6 months and yearly subscriptions.

            <li class="question">Can I cancel any time?</li>
            <p>Absolutely! There are no contracts here at TD Channel. Do keep in mind that when you cancel your current active subscription, the subscription will remain active until its expiration date unless a refund is requested. So if you cancel a 3 month subscription one month into it, the subscription will continue to be active for another 2 months.</p>
            
            <li class="question">What is the refund policy?</li>
            <p>If for some reason you are not satisfied with out service, you can request a refund. Refunds will be calculated the following way:</p>
            <p>(cost of subscription / subscription length) * remainder of subscription.</p>
            <p>For example:</p>
            <p class='focusBox'>User signs up for a 12 month subscription, but 3 months into the year decides to cancel it. If the subscription initial cost was 100 USD, the refund would be</br>
                <span>
                    100 (cost) / 12 (months) = 8.33 (cost per month) * 9 (remaining months) = 74.97 refund
                </span>
            </p>
        </div>

    </div>
{% endblock contentArea %}

{% block javascript_post %}
    {{ parent() }}
    $('.faqbox').hide();
    $('.faqbox').first().show();
    $('#faqIndex_hldr').height($('#faqContent_hldr').height());
    $('.faqTopic').each(function(index){
        var el = $(this);
        el.css("cursor","pointer");
        el.click(function(ev){
            // Hide all boxes
            $('.faqbox').hide();
            var el = $(this);
            // show the one that matches in name
            $("#"+el.attr("id")+"Content").show();
            // resize index box;
            $('#faqIndex_hldr').height($('#faqContent_hldr').height());
        });
    });
{% endblock %}
