{% extends 'tdcFrontEndBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  
     debug=true
    'public/css/logedIn.css' 
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block titleName %}Account{% endblock %}

{% block contentArea%}
    <div id="userNavBar" class="grayGradient04" >
        <ul>
            <li>Account</li>
            <li>Activity</li>
            <li>Play Lists</li>
            <li>Notes</li>
            <li>Browse</li>
        </ul>
    </div>
    <div id="userContent">
    {% block body %}
        <h1> Welcome back {{ user.name|capitalize }}</h1>    
    {% endblock body %}
    </div>
{% endblock contentArea %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var contentArea = $("#contentFrame");
            var navBar = $("#userNavBar");
            var userContent = $("#userContent");
            var navLinks = $("#userNavBar li");

            navBar.height(contentArea.height());
            userContent.height(contentArea.height() - 20);
            userContent.width(contentArea.width() - navBar.width() - 22);
            navLinks.first().css("border-top-width","0px");
        });
    </script>
{% endblock %}
