{% extends 'tdcFrontEndBundle:Default:layout.html.twig' %}

{% block titleName %}Welcome{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  
    'public/css/TDC1/frontEnd.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block contentArea%}
    <div id="mainCarrousel_hldr">Main Carrousel</div>

    <div id="quote_hldr" >
        <div id="quotePicture_hldr"> 
            <img src="{{ path('tdc_front_homepage') }}../public/images/quoters/omarGarcia.png"/ >
            <div id="quoteSignature_hldr">Omar</div>
        </div>
        <p>
            <h3>User Quotes</h3>
            It's a great feeling when you write a script for your own tasks, But when you do it at a major animation studio and it works ... what a great feeling! Thanks Rudy for being my teacher! I owe it all to you.
        </p> 
    </div>
    <div id="popularVideos_hldr">Popular Videos</div>

{% endblock contentArea %}
