/**********************
* Content Area
**********************/
#mainCarousel_hldr {
    background-color: rgb(220,220,220);
    margin:30px;
    height:425px;
    box-shadow:0px 0px 40px 0px rgb(70,70,70);
}
#quote_hldr, #popularVideos_hldr,
#latestQuestions {
    display:inline-block;
    width:440px;
    height:250px;
    padding:10px;
    border-radius:8px;
    vertical-align:top;
    background-color:rgb(225,225,225);
    border:1px solid rgb(180,180,180);
    box-shadow:0px 5px 10px 0px rgb(50,50,50);
    margin-bottom:15px;
}
#quote_hldr {
    margin-right:6px;
    font-family:cursive;
    font-style:italic;
}
#quotePicture_hldr{
    float:left;
    width:150px;
    margin-right:10px;
}
#quotePicture_hldr img { 
    width:150px;
    height:200px;
}
#quoteSignature_hldr {
    text-align:right;
    font-family:cursive;
    font-style:italic;
    font-size:1.2em;
}
#topVideo_hldr,
#latestQuestions_hldr {
    height:180px;
    border-radius: 0px 4px 4px 0px;
    border:1px solid rgb(180,180,180);
}
#topVideo_hldr a,
#latestQuestions_hldr a {
    font-size:1.2em;
}
#topVideo_hldr label,
#latestQuestions_hldr label {
    font-size:0.7em;
    margin-right:10px;
}
#latestQuestions_hldr {
    height:250px;
}
#topVideo_hldr li,
#latestQuestions_hldr li {
    margin:0px;
    padding:6px 10px;
    background-color:rgb(220,220,220);
    border-bottom:1px dotted rgb(180,180,180);
}
#latestQuestions {
    width:680px;
    height:300px;
    margin-right:10px;
    vertical-align:top;
}

#topVideo_hldr .jspDrag,
#latestQuestions_hldr .jspDrag {
    background-color: rgb(199, 199, 199);
    box-shadow: inset 0px 1px 5px 0px rgb(70,70,70);
}

#topVideo_hldr .jspTrack,
#latestQuestions_hldr .jspTrack {
    background-color: rgb(230, 230, 230);
    box-shadow: inset 0px 1px 5px 0px rgb(70,70,70);
}
