/**********************
* Content Area
**********************/
#mainCarousel_hldr {
    background-color: rgb(220,220,220);
    margin:30px;
    height:425px;
    box-shadow:0px 0px 40px 0px rgb(70,70,70);
}
#quote_hldr, #popularVideos_hldr,
#latestQuestions {
    display:inline-block;
    width:445px;
    height:250px;
    background-color: rgba(250,250,250,0.5);
    padding:10px;
    border-radius:8px;
    vertical-align:top;

    background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 );

}
#quote_hldr {
    margin-right:6px;
    font-family:cursive;
    font-style:italic;
}
#quotePicture_hldr{
    float:left;
    width:150px;
    margin-right:5px;
}
#quotePicture_hldr img { 
    width:150px;
    height:200px;
}
#quoteSignature_hldr {
    text-align:right;
    font-family:cursive;
    font-style:italic;
    font-size:1.2em;
}
#latestQuestions {
    width:700px;
    height:300px;
}
