#questions_hldr {
    border:1px solid rgb(180,180,180);
    border-radius:10px;
    box-shadow:0px 5px 15px 0px rgb(50,50,50);
    background: rgb(219, 219, 219);
    margin:10px;
    margin-right:0px;
    padding:10px;
}
.questionSummary,
.questionArea .questionTitle {
    border-bottom:1px dotted rgb(194,194,194);
    padding:10px;
}

.questionArea .questionSummary .questionTitle {
    border-bottom-width:0px;
}

.questionTitle, .answerTitle {
    color:rgb(0, 88, 235);
}
#questions_hldr .questionSummary:first-child {
    border-radius: 10px 10px 0px 0px;
}
#questions_hldr .questionSummary:last-child {
    border-radius: 0px 0px 10px 10px;
}
.questionArea {
    width:665px;
    display:inline-block;
    min-height:470px;
}

.questionText, .answerText {
    margin:15px;
}
.questionTitle, .answerTitle {
    font-size:1.6em;
}
.questionEnd {
    clear:both;
}

.author, .updated, .views, .answers {
    font-size:0.85em;
}
.author, .updated, .views {
    float:left;
    margin-right:30px;
    margin-left:15px;
    margin-bottom:10px;
}
.tags {
    margin:5px 0px;
    padding:10px;
    clear:both;
}
#popularQuestions .tags,
#popularTags .tags{
    padding:4px;
}

span.tag,
span.addedTag {
    font-size:0.85em;
    background-color:rgb(0,72,225);
    background-color:rgb(0,102,255);
    border-radius:5px;
    padding:4px 6px;
    box-shadow: 0px 1px 1px 0px rgb(40,40,40);
    margin:2px 4px;
}
.tags .tag a {
    color: rgb(240, 240, 240);
    text-shadow: 0px -1px 1px rgb(50,50,50);
}
.questionArea .answerTitle {
    border-top:1px dotted rgb(194,194,194);
    padding:10px;
}
.answerArea {
    padding: 4px;
    background-color:rgb(180,180,180);
    border-radius:10px;
    margin-top:10px;
}
.answerArea .row_0:first-child {
    border-radius:10px 10px 0px 0px;
}
.answerArea .row_0:last-child,
.answerArea .row_1:last-child {
    border-radius:0px 0px 10px 10px;
}
.answerTitle {
    font-style:italic;
}
#paginatorBottom,
#paginatorTop {
    padding:15px 0px;
}
/***************
*
* Create Question
*
***************/
#questionForm,
#answerForm {
    background-color: rgb(210, 210, 210);
    padding: 10px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgb(50,50,50);
    margin: 10px;
    margin-bottom: 20px;
    text-shadow:0px 1px 0px rgb(240,240,240); 
}
#questionForm table,
#answerForm table{
    border-spacing:4px;
}
#questionForm tr,
#answerForm tr {
    vertical-align:top;
}
#questionForm input,
#questionForm textarea,
#answerForm input,
#answerForm textarea {
    border-radius:10px;
    border:1px solid rgb(180,180,180);
    padding: 0px 5px;
    color: black;
    font-size: 1.0em;
}

#questionForm input[type=text],
#questionForm textarea,
#answerForm input[type=text],
#answerForm textarea{
    width:540px;
    height:30px;
    line-height:30px;
    outline:none;
}
#questionForm textarea,
#answerForm textarea {
    height:350px;
    resize: none;
}
#questionForm .submitBtn,
#answerForm .submitBtn {
    width:590px;
    text-align:right;
    margin-top:5px;
}
#questionForm input[type=submit],
#answerForm input[type=submit],
#questionForm input[type=button],
#answerForm input[type=button] {
    padding:10px 15px;
    color:rgb(30,30,30);
}
#addTag_btn {
    padding: 1px 15px;
    border: 1px solid red;
    border-image: initial;
    color: red;
}
#questionForm button,
#answerForm button {
    border-width:0px;
    font-size:0.9em;
}
#tagsField input[type=text],
#tagsField input[type=text] {
    width:435px;
}
#tagsRow {
    display:none;
}
#selectedTags {
    padding:10px 0px;
}
.addedTag {

}
label.error{
    display:block;
    margin:4px 0px;
}
#questionForm label,
#answerForm label {
    position: relative;
    top: 7px;
}
/***************
*
* Side Bar
*
***************/
#sidebarArea {
    width:250px;
    margin-left:15px;
    display:inline-block;
    vertical-align:top;
}
#popularQuestions,
#popularTags {
    padding:7px;
    border-radius:10px;
    border:1px solid rgb(180,180,180);
    background-color:rgb(225,225,225);
    margin-bottom:10px;
}
.newQuestionBtn {
    margin-bottom:15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display:block;
    padding:0px;
    border-radius:10px;
    box-shadow: 0px 1px 0px 1px rgb(100,100,100),0px -1px 0px 1px rgb(100,100,100);
}

.tdcButtonDown {
    box-shadow: 0px 1px 0px 1px rgb(100,100,100),0px -1px 0px 1px rgb(100,100,100), inset 0px 0px 9px 0px rgb(70,70,70);
}
.popularTags {
    font-size: 1.5em;
    border-bottom: 1px dotted;
    padding: 5px 0px;
    margin: 5px 0px;
    margin-bottom: 10px;
    text-align:right;
}
.paginator {
    text-align:right;
}
