/*********************
 *
 * Globals
 *
 ********************/
body {
    background-color:rgb(65,65,65);
    color:rgb(220,220,220);
    text-shadow: 0px -1px 0px rgb(30,30,30);

    background: rgb(165,165,165);
    background: -moz-radial-gradient(center, ellipse cover,  rgb(165,165,165) 0%, rgb(41,41,41) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(165,165,165)), color-stop(100%,rgb(41,41,41)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgb(165,165,165) 0%,rgb(41,41,41) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgb(165,165,165) 0%,rgb(41,41,41) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgb(165,165,165) 0%,rgb(41,41,41) 100%);
    background: radial-gradient(center, ellipse cover,  rgb(165,165,165) 0%,rgb(41,41,41) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#333333',GradientType=1 );

}

a {
    text-decoration:none;
    color: #E4BC44;
}
table {
    border-spacing:0px;
    border=none;
}

table tr {
    height:30px;
}

#siteMap tr {
    height:22px;
}

table td {
    padding: 0px 10px;
}
table th {
    background-color:rgb(90,90,90);
    color:rgb(200,200,200);
}

table .row_0,
table .row_1  {
    background-color:rgb(100,100,100);
}
table .row_1 {
    background-color:rgb(110,110,110);
}
/*********************
 *
 * TDC Common
 *
 ********************/
@font-face {
    font-family: menuFont;
    src: url(../../public/fonts/Harabara.ttf);
}
#mainFrame {
    width:1100px;
    margin:20px auto;
    border-radius: 10px;
    box-shadow:0px 0px 25px 10px rgb(50,50,50);
}
/*********************
 * Header Bar
 ********************/
#headerBar {
    width:1092px;
    height:32px;
    padding:10px 4px;
    border-radius:10px 10px 0px 0px;
    border: 1px solid #505050;
    border-top-color: #6E6E6E;
    border-bottom-color: #323232;
}
#tdcBtn {
    background-image: url(../../../public/images/icons/tdchannelIcon.png);
    background-repeat: no-repeat;
    float:left;
    margin-left:25px
}
#facebookBtn {
    background-image: url(../../../public/images/icons/facebookIcon.png);
    background-repeat: no-repeat;
    float:left;
}
#twitterBtn {
    background-image: url(../../../public/images/icons/twitterIcon.png);
    background-repeat: no-repeat;
    float:left;
}
#youtubeBtn {
    background-image: url(../../../public/images/icons/youTubeIcon.png);
    background-repeat: no-repeat;
    float:left;
}
.loginBarBtn {
    width:40px;
    height:40px;
    margin:0px 2px;
    margin-top:-4px;
}
#loginBar {
    float: right;
    height: 30px;
    line-height: 28px;
    margin-right: 23px;
    color: rgb(191,191,191);
    font-family: arial;
    text-shadow: 0px 0.09em 1px #333;
    font-size: 1.4em;
}
#loginBar label {
}

#loginBar input {
    color:rgb(200,200,200);
    border-radius: 5px;
    border: 0px;
    height: 25px;
    background-color: #323232;
    box-shadow: 0px -1px 1px 0px #000,0px 0px 1px 0px #FFF;
    font-size:0.8em;
    margin-top:3px;
    padding: 0px 10px;
    width: 120px;
}
#loginBar #_submit {
    height: 1.65em;
    padding: 0px 10px;
    width: 80px;
}
#loginHelpBtn {
    width: 24px;
    border-top: 1px solid rgb(200,200,200);
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    box-shadow:0px 0px 1px 1px rgb(40,40,40);
}
#loginHelp {
    margin-left:2.2em;
    margin-top: 0.4em;
    line-height:20px;
    display:none;
}
#loginHelp a {
    font-size: 0.85em;
}
#resetUserName {
    margin-right: 2.8em;
}
/*********************
 * Content Area
 ********************/
#navBar {
    width: 270px;
    height: 452px;
    background-color: rgba(200,200,200,0.9);
    float: left;
    text-align:center;
    margin: 0px 40px;
    color:white;
    text-shadow:0px 2px 4px rgb(40,40,40);
}
#navBar img {
    position:relative;
}
#navBar h2{
    font-family:arial;    
    font-size: 2.75em;
    margin:0.25em 0em;
}
#iconHolder {
    height: 125px;
    margin: 115px 0px;
    margin-top:0px
}
#contentFrame {
    width: 100%;
    font-family: arial;
    min-height:400px;
    border:1px solid #505050;
    border-top-color:#6E6E6E;
    border-bottom-color: #323232;
}
#contentArea {
    padding:1px 0px;
    width: 100%;
    height:450px;
    background-image: url(../../../public/images/contentbg.jpg);
    border-bottom:1px solid #323232;
}
#lowerContent {
    width: 100%;
    height: 350px;
    border-top:1px solid #6E6E6E;
}
.lowerContentBlurb,
.footerBlurb {
    width: 250px;
    height: 250px;
    float: left;
    margin: 20px 57px;
    font-family: arial;
    text-align: justify;
    color: #282828;
    text-shadow: 0px 1px 0px rgb(200,200,200);
}
.lowerContentBlurb p,
.footerBlurb p {
    margin: 0.5em 0em;
}
.lowerContentBlurb h3 {
    text-align: center;
    font-size: 1.7em;
    margin-top:0px;
    margin-bottom:0.5em;
}
#quoteBlurb img {
    margin: auto;
    display:block;
    margin-bottom:-24px;
}
.quoteSig {
    float: right;
    font-family: cursive;
    font-size:1.4em;
}
#contentHolder {
    margin:2.0em;
}
#contentHolder .videoTitle, 
#contentHolder .categoryTitle {
    font-size: 3em;
    position: relative;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgb(40,40,40);
    margin:0.25em 0.0em;
    color:rgb(200,200,200);
}
#courseLargeIcon {
    float:left;
}
#categoryHeader {
    margin:1em 0em;
}
#tdcCategoryContent {
    width:100%;
}
#tdcCategoryContent td {
    padding:10px;
}

li.question {
    list-style:none;
    font-size:1.25em;
    font-weight:bold;
}
/*********************
 * Footer Bar
 ********************/
#footer {
    width: 100%;
    height: 250px;
    border:1px solid #505050;
    border-top-color:#6E6E6E;
    border-bottom-color: #323232;
    border-radius:0px 0px 10px 10px;
    box-shadow: 0px 1px 2px -1px white; 
}
.footerBlurb {
    margin-top:0px;
    margin-bottom:0px;
    color: rgb(230,230,230);
    text-shadow: 0px 2px 0px rgb(30,30,30);
}
.footerBlurb h3 {
    font-family: cursive;
    border-bottom:1px dotted rgb(220,220,220);
    font-size:1.65em;
    margin-top:0.5em;
}
#copyright {
    font-family: arial;
    font-size:0.75em;
    position: relative;
    bottom: 25px;
    text-align: right;
    margin-right: 30px;
    color: rgb(230,230,230);
    text-shadow: 0px 2px 0px rgb(30,30,30);
    height:1px;
}

/*********************
 * Generic components
 ********************/
.tdcGenericButton {
    border-top: 1px solid rgb(200,200,200);
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    box-shadow:0px 0px 1px 1px rgb(40,40,40);
    margin:0.25em;
    float:left;
}
.tdcGenericGutter {
    color:rgb(200,200,200);
    border-radius: 5px;
    border: 0px;
    background-color: #323232;
    box-shadow: 0px -1px 1px 0px #000,0px 0px 1px 0px #FFF;
    margin:0.25em;
    display: inline-block;
    float:left;
}
.tdcButton{
    display: inline;
    padding: 0px 12px 5px 12px;
    border-radius: 4px;
    box-shadow: 0px 1px 0px 0px rgb(220,220,220),0px -0px 1px 1px rgb(30,30,30);
    border-top: 1px solid #CCF1FF;
    color: rgb(217,217,217) !important;
    text-shadow: 0px 1px rgb(25,25,25);
    border-top: 1px solid #7DB4FF !important;
    font-family: arial;
    font-size: 1.0em;
    border-bottom: 1px solid #195066;
    position:relative;
    top:-2px;
}
/*********************
 * Gradients
 ********************/
 /***** Gray ********/
 .grayGradient01 {
    background: rgb(80,80,80);
    background-image:url(../../../public/images/footerbg.png),-moz-linear-gradient(top,  rgb(80,80,80) 0%, rgb(50,50,50) 100%);
    background-image: url(../../../public/images/footerbg.png),-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(80,80,80)), color-stop(100%,rgb(50,50,50)));
    background-image:url(../../../public/images/footerbg.png), -webkit-linear-gradient(top,  rgb(80,80,80) 0%,rgb(50,50,50) 100%);
    background-image:url(../../../public/images/footerbg.png), -o-linear-gradient(top,  rgb(80,80,80) 0%,rgb(50,50,50) 100%);
    background-image:url(../../../public/images/footerbg.png), -ms-linear-gradient(top,  rgb(80,80,80) 0%,rgb(50,50,50) 100%);
    background-image:url(../../../public/images/footerbg.png), linear-gradient(top,  rgb(80,80,80) 0%,rgb(50,50,50) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#323232',GradientType=0 );
 }
 .grayGradient02 {
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top,  rgb(80,80,80) 0%, rgb(110,110,110) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(80,80,80)), color-stop(100%,rgb(110,110,110)));
    background: -webkit-linear-gradient(top,  rgb(80,80,80) 0%,rgb(110,110,110) 100%);
    background: -o-linear-gradient(top,  rgb(80,80,80) 0%,rgb(110,110,110) 100%);
    background: -ms-linear-gradient(top,  rgb(80,80,80) 0%,rgb(110,110,110) 100%);
    background: linear-gradient(top,  rgb(80,80,80) 0%,rgb(110,110,110) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#6e6e6e',GradientType=0 );
 }
 .grayGradient03 {
    background: rgb(81,81,81);
    background: url(../../../public/images/footerbg.png), -moz-linear-gradient(top,  rgb(81,81,81) 0%, rgb(114,114,114) 100%);
    background: url(../../../public/images/footerbg.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(81,81,81)), color-stop(100%,rgb(114,114,114)));
    background: url(../../../public/images/footerbg.png), -webkit-linear-gradient(top,  rgb(81,81,81) 0%,rgb(114,114,114) 100%);
    background: url(../../../public/images/footerbg.png), -o-linear-gradient(top,  rgb(81,81,81) 0%,rgb(114,114,114) 100%);
    background: url(../../../public/images/footerbg.png), -ms-linear-gradient(top,  rgb(81,81,81) 0%,rgb(114,114,114) 100%);
    background: url(../../../public/images/footerbg.png), linear-gradient(top,  rgb(81,81,81) 0%,rgb(114,114,114) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515151', endColorstr='#727272',GradientType=0 );
 }
 .grayGradient04 {
    background: rgb(156,156,156);
    background: -moz-linear-gradient(top,  rgb(156,156,156) 0%, rgb(76,76,76) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(156,156,156)), color-stop(100%,rgb(76,76,76)));
    background: -webkit-linear-gradient(top,  rgb(156,156,156) 0%,rgb(76,76,76) 100%);
    background: -o-linear-gradient(top,  rgb(156,156,156) 0%,rgb(76,76,76) 100%);
    background: -ms-linear-gradient(top,  rgb(156,156,156) 0%,rgb(76,76,76) 100%);
    background: linear-gradient(top,  rgb(156,156,156) 0%,rgb(76,76,76) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#4c4c4c',GradientType=0 );
 }

.grayGradient07 {
    background: rgb(131,131,131);
    background: -moz-linear-gradient(top,  rgb(131,131,131) 0%, rgb(155,155,155) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(131,131,131)), color-stop(100%,rgb(155,155,155)));
    background: -webkit-linear-gradient(top,  rgb(131,131,131) 0%,rgb(155,155,155) 100%);
    background: -o-linear-gradient(top,  rgb(131,131,131) 0%,rgb(155,155,155) 100%);
    background: -ms-linear-gradient(top,  rgb(131,131,131) 0%,rgb(155,155,155) 100%);
    background: linear-gradient(top,  rgb(131,131,131) 0%,rgb(155,155,155) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#838383', endColorstr='#9b9b9b',GradientType=0 );
}

 /***** Blue ********/
.blueBtnGradient,
.blueGradient01 {
    background: rgb(0,102,255);
    background: -moz-linear-gradient(top,  rgb(0,102,255) 0%, rgb(45,125,255) 44%, rgb(64,150,238) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,102,255)), color-stop(44%,rgb(45,125,255)), color-stop(100%,rgb(64,150,238)));
    background: -webkit-linear-gradient(top,  rgb(0,102,255) 0%,rgb(45,125,255) 44%,rgb(64,150,238) 100%);
    background: -o-linear-gradient(top,  rgb(0,102,255) 0%,rgb(45,125,255) 44%,rgb(64,150,238) 100%);
    background: -ms-linear-gradient(top,  rgb(0,102,255) 0%,rgb(45,125,255) 44%,rgb(64,150,238) 100%);
    background: linear-gradient(top,  rgb(0,102,255) 0%,rgb(45,125,255) 44%,rgb(64,150,238) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0066ff', endColorstr='#4096ee',GradientType=0 );
}

.blueBtnGradient:hover,
.blueHoverGradient:hover {
    background: rgb(39,125,255);
    background: -moz-linear-gradient(top,  rgb(39,125,255) 0%, rgb(77,145,255) 44%, rgb(93,167,241) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(39,125,255)), color-stop(44%,rgb(77,145,255)), color-stop(100%,rgb(93,167,241)));
    background: -webkit-linear-gradient(top,  rgb(39,125,255) 0%,rgb(77,145,255) 44%,rgb(93,167,241) 100%);
    background: -o-linear-gradient(top,  rgb(39,125,255) 0%,rgb(77,145,255) 44%,rgb(93,167,241) 100%);
    background: -ms-linear-gradient(top,  rgb(39,125,255) 0%,rgb(77,145,255) 44%,rgb(93,167,241) 100%);
    background: linear-gradient(top,  rgb(39,125,255) 0%,rgb(77,145,255) 44%,rgb(93,167,241) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#277dff', endColorstr='#5da7f1',GradientType=0 );
}

