#mainFrame {
    width:800px;
    font-family:arial;
    border-radius:10px;
}

#contentFrame {
    width:800px;
    border-width:0px;
    border-top:1px solid rgb(194, 194, 194);
    border-bottom:1px solid black;
}

#headerBar,
#footerBar {
    width:800px;
    padding:5px 0px;
    line-height:30px;
    color:rgb(200,200,200);
    font-size:1.1em;
}

#headerBar {
    width:798px;
    overflow:hidden;
    border-bottom:1px solid black;
}

#tdcVideoInfo {
    margin:10px;
}

#tdcVideoInfo tr {
    vertical-align:top;
    font-size:0.85em;
}

#headerBar span.videoTitle {
    margin-left:20px;
}

#headerBar span.videoTitleName {
    color:rgb(228, 188, 68); 
    cursor:pointer;
}

#footerBar {
    text-align:right;
    line-height:30px;
    font-size:0.7em;
    border-radius:0px 0px 10px 10px;
    box-shadow: 0px 1px 2px -1px white;
    color:rgb(200,200,200);
    border-top:1px solid #6E6E6E;
    border-bottom:1px solid #323232;
}

#footerBar span {
    margin-right:20px;
}

#tdcPlayerRoot {
    margin:10px 0px;
}

#mainFrame,
#tdcVideoScreen,
#tdcNavBar,
#tdcQuickBrowserRoot,
.gutter {
    box-shadow: 0px -1px 0px 1px black, 0px 1px 0px 0px rgb(194,194,194);
}

#tdcQBNBSearchBarIcon,
#tdcQuickBrowserRoot .tdcQuickBrowserNavBar,
#tdcQuickBrowserPaginator {
    box-shadow: 0px -1px 0px 0px rgb(194, 194, 194), 0px 1px 0px 0px black;
}

#tdcNavBar,
#tdcQuickBrowserRoot {
    font-family:arial;
    color: rgb(10,10,10);
    text-shadow: 0px 1px 0px rgb(210,210,210);
}
#tdcTabBar {
    border-bottom:1px solid rgb(50,50,50);
}
#tdcIndexTab {
    border-right:1px solid rgb(200,200,200);
    border-top:1px solid rgb(200,200,200);
}
#tdcNotesTab {
    border-left:1px solid rgb(50,50,50);
    border-top:1px solid rgb(200,200,200);
}
#tdcNavBar .contentHolder {
    border-top:1px solid rgb(194,194,194);
    box-shadow:0px 2px 0px 0px rgb(50,50,50),0px 3px 0px 0px rgb(194,194,194);
}
#tdcQuickBrowserRoot .tdcQuickBrowserNavBar .button {
    border-top:1px solid rgb(194,194,194);
    border-bottom:1px solid rgb(50,50,50);
    cursor:pointer;
}

.tdcTabBarBtnSelected, .tdcTabBarBtnSelected:hover,
.tdcButtonSelected, .tdcButtonSelected:hover {
    border:0px solid transparent !important;
    color: rgb(240,240,240);
    text-shadow: 0px -1px 0px rgb(10,10,10);
}

#tdcIndexCnt,
#tdcNotesCnt {
    color: rgb(240,240,240);
    text-shadow: 0px -1px 0px rgb(10,10,10);
    background-image:url("../../../bundles/tdcplayer/images/verticalStripes.png");
}
#tdcIndexCnt li,
#tdcNotesCnt li {
    padding:6px;
    list-style:none;
}
#tdcIndexCnt a {
    text-decoration:none;   
}
.row1 {
    background-color:rgb(102,102,102);
    border:1px solid rgb(102,102,102)
}
.row0 {
    background-color:rgb(112,112,112);
    border:1px solid rgb(112,112,112);
}
#tdcNavBar .row1:hover,
#tdcNavBar .row0:hover {
    border-top:1px solid rgb(250,238,118);
    border-bottom:1px solid rgb(158,118,18);
    background-color:rgb(228, 188, 68);
    color:rgb(60,60,60);
    text-shadow:0px 1px 0px rgb(220,220,220);
}
.tdcScrollbarGutter{
    background-color:rgb(148,148,148);
    box-shadow:inset 2px 0px 5px 0px rgb(50,50,50);   
}
.tdcScrollbarHandle {
    background-color:rgb(128,128,128);
    border:1px solid rgb(75,75,75);
    border-right:0px solid;
    border-top:1px solid rgb(180,180,180);
}
.tdcScrollbarHandle:hover {
    background-color:rgb(148,148,148);
    box-shadow: 0px 0px 14px 2px white;
}

#tdcQuickBrowserRoot {
    padding:1px;
}

#tdcQuickBrowserRoot .tdcQuickBrowserNavBar {
    border-bottom:1px solid black;
    margin:0px;
    padding:5px;
}
#tdcQuickBrowserRoot .tdcQuickBrowserNavBar .button {
    margin:0px 0px;
    float:left; 
    padding:0px 9px;
}
.leftEndBtn {
    border-right:1px solid rgb(194, 194, 194);
}
.rightEndBtn {
    border-left:1px solid black;
}

#tdcQBNBDisplayModeButtons.gutter {
    margin-left:10px
}

#tdcQuickBrowserRoot .tdcQuickBrowserNavBar .label {
    border:0px solid;
    float:left; 
}

.tdcQuickBrowserNavBar .label {
    font-size:1.3em;
}

#tdcQBNBSearchBar.gutter {
    margin-right:10px
}
#tdcQBNBSearchBarIcon {
    border-right:1px solid rgb(194, 194, 194);
}

#tdcQuickBrowserRoot .tdcQuickBrowserNavBar #searchField {
    border-width:0px;
    border-left:1px solid black;
    outline-width: 0;
    box-shadow:inset 0px 0px 6px 0px black;
    background-color:rgb(204, 204, 204)
}

#tdcQuickBrowserRoot .content {
    margin-bottom:1px;
    padding:0px;
    overflow:hidden;
    border-top:1px solid rgb(194, 194, 194);
    border-bottom:1px solid rgb(50,50,50);
    text-shadow:0px -1px 0px rgb(30,30,30);
    color:rgb(240,240,240);
}

#tdcQuickBrowserRoot .icon { 
    width:80px;
    text-align:center;
    padding:6px 8px;
}

#tdcQuickBrowserRoot .viewsRating { 
    width:110px;
}

#tdcQuickBrowserRoot .videoName { 
    font-size: 1.5em;
    margin-bottom: 0.15em;
    display: block;
    cursor:pointer;
}

#tdcQuickBrowserRoot .author,
#tdcQuickBrowserRoot .views { 
    display:block;
}

#tdcQuickBrowserRoot .author,
#tdcQuickBrowserRoot .trt { 
    font-size: 0.8em;
}

#tdcQuickBrowserPaginator {
    margin:0px;
    padding:5px;
    text-align:right;
}

#itemsList {
margin:0px;
}
#itemsList td {
padding:10px 5px;
}

/******************
 *
 * comon
 *
 *****************/
 .windowBar {
    background: rgb(130,130,130);
    background: -moz-linear-gradient(top,  rgb(130,130,130) 0%, rgb(108,108,108) 50%, rgb(67,67,67) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(130,130,130)), color-stop(50%,rgb(108,108,108)), color-stop(100%,rgb(67,67,67)));
    background: -webkit-linear-gradient(top,  rgb(130,130,130) 0%,rgb(108,108,108) 50%,rgb(67,67,67) 100%);
    background: -o-linear-gradient(top,  rgb(130,130,130) 0%,rgb(108,108,108) 50%,rgb(67,67,67) 100%);
    background: -ms-linear-gradient(top,  rgb(130,130,130) 0%,rgb(108,108,108) 50%,rgb(67,67,67) 100%);
    background: linear-gradient(top,  rgb(130,130,130) 0%,rgb(108,108,108) 50%,rgb(67,67,67) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#434343',GradientType=0 );
 }
 .widgetControlGray {
    background: rgb(153,153,153);
    background: -moz-linear-gradient(top,  rgb(153,153,153) 0%, rgb(127,127,127) 50%, rgb(79,79,79) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(153,153,153)), color-stop(50%,rgb(127,127,127)), color-stop(100%,rgb(79,79,79)));
    background: -webkit-linear-gradient(top,  rgb(153,153,153) 0%,rgb(127,127,127) 50%,rgb(79,79,79) 100%);
    background: -o-linear-gradient(top,  rgb(153,153,153) 0%,rgb(127,127,127) 50%,rgb(79,79,79) 100%);
    background: -ms-linear-gradient(top,  rgb(153,153,153) 0%,rgb(127,127,127) 50%,rgb(79,79,79) 100%);
    background: linear-gradient(top,  rgb(153,153,153) 0%,rgb(127,127,127) 50%,rgb(79,79,79) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#4f4f4f',GradientType=0 );
 }
 .widgetControlGray:hover {
    background: rgb(168,168,168);
    background: -moz-linear-gradient(top,  rgb(168,168,168) 0%, rgb(146,146,146) 50%, rgb(105,105,105) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(168,168,168)), color-stop(50%,rgb(146,146,146)), color-stop(100%,rgb(105,105,105)));
    background: -webkit-linear-gradient(top,  rgb(168,168,168) 0%,rgb(146,146,146) 50%,rgb(105,105,105) 100%);
    background: -o-linear-gradient(top,  rgb(168,168,168) 0%,rgb(146,146,146) 50%,rgb(105,105,105) 100%);
    background: -ms-linear-gradient(top,  rgb(168,168,168) 0%,rgb(146,146,146) 50%,rgb(105,105,105) 100%);
    background: linear-gradient(top,  rgb(168,168,168) 0%,rgb(146,146,146) 50%,rgb(105,105,105) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#696969',GradientType=0 );
 }
.widgetControlActive, .widgetControlActive:hover  {
    box-shadow: inset 0px 0px 5px 0px rgb(12,84,167);
    background: rgb(92,164,237);
    background: -moz-linear-gradient(top,  rgb(92,164,237) 0%, rgb(23,130,237) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(92,164,237)), color-stop(100%,rgb(23,130,237)));
    background: -webkit-linear-gradient(top,  rgb(92,164,237) 0%,rgb(23,130,237) 100%);
    background: -o-linear-gradient(top,  rgb(92,164,237) 0%,rgb(23,130,237) 100%);
    background: -ms-linear-gradient(top,  rgb(92,164,237) 0%,rgb(23,130,237) 100%);
    background: linear-gradient(top,  rgb(92,164,237) 0%,rgb(23,130,237) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ca4ed', endColorstr='#1782ed',GradientType=0 );
 }
